<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>journalink</h1>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">Entries</h1>

      <form class="entry-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="newEntry.title">
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Body" ng-model="newEntry.body"></textarea>
        </div>
        <div class="form-group">
          <a class="pull-right btn btn-primary" ng-click="addEntry()">
            <i class="fa fa-check fa-lg"></i> Add
          </a>
        </div>
      </form>

      <article class="col-xs-12" ng-repeat="entry in entries">
        <header>
          <h2>{{entry.title}}</h2>
          <p class="text-muted">{{entry.created}}</p>
        </header>
        <p>{{entry.body | words:25 }}</p>
      </article>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
